@model AluguelMaquinas.Models.AluguelEquipamento

@{
    ViewData["Title"] = "Create";
}

<h4 class="display-6 fw-bold">Alocar Máquina/Equipamento - Novo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AluguelId" class="control-label"></label>
                <select asp-for="AluguelId" class="form-control" asp-items="ViewBag.AluguelId">
                    <option value="">---</option>
                </select>
                <span asp-validation-for="AluguelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipamentoId" class="control-label"></label>
                <select asp-for="EquipamentoId" class="form-control" asp-items="ViewBag.EquipamentoId">
                    <option value="">---</option>
                </select>
                <span asp-validation-for="EquipamentoId" class="text-danger"></span>
            </div>
            <div class="row p-3">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                        <a class="btn btn-primary my-2" asp-action="Index">Voltar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="@Url.Content("~/js/jquery.validate.pt-Br.js")"></script>
}
